.hidden
{
	display: none;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{
	background-color: #d8d8d8;
	text-align: center;
	font-family: arial;
}

a
{
	text-decoration: none;

}




#container
{
	max-width: 1920px
	margin: 0 auto;

}


		/*nav / top annoying area below*/

.topBorder
{
	height: 16px;
	background-color: #628bff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}


.mainHeader
{

  display: flex;
  flex-direction: row;
  justify-content: flex-start;


}

.mainHeader img
{
  width: 25%;
  margin: 20px;
  margin-right: auto;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;

}

.mainHeader img:hover
{
  
  -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
}

.mainNav
{
  margin-top: 26px;
  margin-bottom: 26;
  font-family: arial;
  margin-left: auto;
  height: 201px;
  width: 1350px;
  margin-right: auto;
  line-height: 190px;
  background-color: #628bff;
  border-radius: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.mainNav li
{
  color: #000000;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 30px;
  font-family: open_sansbold;


}

.mainNav a
{
	color: #000000;
}

.mainNav a:hover
{
	
	color: white;
  transition: 0.3s;
  border-radius: 10px;
  background-color: #000;
  padding: 7px;
}











.promoText
{
	background-color: #628bff;
	height: 71px;
	width: 1920px;
	line-height: 70px;
	font-size: 30px;
	font-family: open_sansbold;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.link1
{
	padding: 10px;
	border: solid 3px black;
	color: black;
	text-align: center;
	font-size: 25px;
	margin: 0 auto;
	margin-left: 5px;

}

.link1:hover
{
	color: white;
  transition: 0.3s;
  border-radius: 10px;
  background-color: #000;
  padding: 7px;
}

.mainPart
{
  display: flex;
}

.tour
{
  background-color: #628bff;
  margin-top: 110px;
  width: 690px;
  height: 620px;
  margin-right: auto;
  margin-left: 134px;
  border-radius: 20px;
  background-image: url(../images/logo/logo_main_low.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 700px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


  
}

.tour li:hover
{
  -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);

}


.tour li
{
 
 -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 0.5px #ffffff;
  height: 100px;
  padding: 200px;
  list-style-type: none;
  
}

.tour a
{
  color: #000000;
}


.videosTop
{
 
  margin-top: 105px;
  height: 300px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  margin-right: 50px;


}

.videosTop:hover
{
  -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);


}

.careers
{
 height: 250px;
  width: 500px;
  margin-top: 20px;
}

.brands
{
height: 250px;
  width: 500px;

}

.videosBottom
{
  
  margin-top: 34px;
  height: 300px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  margin-right: 50px;
}

.videosBottom:hover
{

        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);

}

.process
{
  height: 250px;
  width: 500px;
  margin-top: 20px;

}

.clothes
{
   height: 250px;
  width: 500px;
}



















